/* color-picker.css */
#color-menu {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  
  .color-option {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .color-option:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
  }
  