/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container for forms */
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 800px;
    justify-content: space-between;
    margin-top: 20px;
}

/* Styling for each form section (login & signup) */
.form-section {
    width: 45%;
}

h2, h3 {
    text-align: center;
    font-weight: 500;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

/* Button styling */
button {
    width: 100%;
    padding: 12px;
    background-color: #ced9db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #bdc8ca;
}

button:focus {
    outline: none;
}

/* Log Out button styling */
#logoutButton {
    /* position: fixed; */
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto 40px auto;
}

#logoutButton:hover {
    background-color: #ff3333;
}

/* Styling for welcome message */
.welcome {
    width: 80%;
    max-width: 1000px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    overflow: auto;
    box-sizing: border-box;
}

/* Upload section and display */
#uploadSection {
    margin-top: 20px;
}

#earringDisplay img {
    max-width: 150px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Table styling */
#earringTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#earringTable th, #earringTable td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

#earringTable th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
}

#earringTable img {
    max-width: 80px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Dropdown Button */
.dropbtn {
    background-color: #ced9db;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    top: 0; 
    left: 0; /* Position the dropdown in the top-left corner */
    z-index: 10; /* Ensure it stays on top of the camera */
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the drop